<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<footer>
  <div class="footer_contact">
    <div class="phoneNumber">
      <i class="fa-solid fa-phone"></i>
      <a href="tel:+374-91-09-07-08"> (+374) 91-09 07 08</a>
    </div>
    <div class="email">
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:codiumcontact@gmail.com">
        codiumcontact@gmail.com
      </a>
    </div>
  </div>
  <div class="copy">
    Copyright 2022 Codium, LLC. &nbsp;&nbsp;|
    <a href="#" class="footer_btn">Terms and Conditions</a>
    <a href="#" class="footer_btn">Privacy Policy</a>
  </div>
</footer>