<section id="section-about">
  <div class="mdl">
    <h2 id="about">About</h2>
    <p>
      Codium is a highly reputable diversified services network that provides
      full leading services corresponding to its customers’ needs. Depending on
      what type of service you need, we assist you in getting linked with
      specific supporters. This highly secure system relies upon extensive
      industry experience and expertise to deliver innovative solutions to its
      customers. A variety of services combined in one digital platform aims to
      satisfy the different needs of different people by making their lives
      easier. Codium has established to assist its customers in instantly
      finding the appropriate service-providers for their specific situations.
      There are two options whereby the customers can create the necessary match
      – (1) through an online application, OR (2) through a simple phone call.
      Our diversified portfolio of lead buyers includes various service
      providers, which increases the likelihood of finding a home for every
      single lead. By delivering the best practice of optimized, innovative
      solutions, Codium is here to serve as an online force that makes you find
      your exact satisfaction.
    </p>
  </div>
</section>