    <div class="title">
        <h1>Создание сайтов</h1>
        {{#each path}}
        <a href="{{path}}" target="_blank">{{name}} </a>
        {{/each}}
    </div>
      <section class="site_section1">
          <div class="site_section1_img">
              <img src="/imgs/sectionimg.jpg" alt="">
          </div>
          <div class="site_section1_text"> 
              <h2>
                Предлагаем разработку и создание сайтов следующих видов:
              </h2>
              <ul class="site_section1_ul">
                  <li><i class="fa-solid fa-check"></i> Сайт "Визитка"</li>
                  <li><i class="fa-solid fa-check"></i> Целевая (Landing) страница</li>
                  <li><i class="fa-solid fa-check"></i> Бизнес-сайт (корпоративный сайт)</li>
                  <li><i class="fa-solid fa-check"></i> Бизнес-сайт (корпоративный сайт) с каталогом</li>
                  <li><i class="fa-solid fa-check"></i> Интернет-магазин</li>
                  <li><i class="fa-solid fa-check"></i> Новостной сайт</li>
                  <li><i class="fa-solid fa-check"></i> Веб-сайт поиска работы</li>
              </ul>
              <a href="#section_contact" class="bttn green">Онлайн заявка</a>
          </div>
      </section>
      <section class="site_section2">
        <div class="site_section2_text">
          <h2>Все создаваемые сайты имеют следующие возможности</h2>
          <ul>
              <li><i class="fa-solid fa-check"></i>обучение сотрудника компании пользованию системой управления содержимым сайта</li>
              <li><i class="fa-solid fa-check"></i>дизайн, адаптированный ("Responsive") под экраны мобильных устройств</li>
              <li><i class="fa-solid fa-check"></i>первоначальное размещение содержимого сайта (предоставленного заказчиком)</li>
              <li><i class="fa-solid fa-check"></i>техническое обеспечение в течение одного года</li>
              <li><i class="fa-solid fa-check"></i>предоставление доменного имени (.am</li>
              <li><i class="fa-solid fa-check"></i>высокоскоростной хостинг</li>
              <li><i class="fa-solid fa-check"></i>эл. почта в Вашем домене (...@.am)</li>
          </ul>
      </div>
    </section>
      <section class="site_section3">
          <h1>Наши преимущества</h1>
          <div class="site_section3_div">
              <div class="site_section3_img">
                  <img src="/imgs/4646894.png" alt="">
                </div>
                <ul class="site_section3_text">
                  <li><i class="fa-solid fa-check"></i>Работаем "под ключ"</li>  
                  <li><i class="fa-solid fa-check"></i>Участвуем в разработке контента сайта</li>  
                  <li><i class="fa-solid fa-check"></i>Бесплатную консультацию по телефону, по эл. почте</li>  
                  <li><i class="fa-solid fa-check"></i>Работу выполняем по плану и в сроки, установленные в договоре</li>  
                  <li><i class="fa-solid fa-check"></i>Обеспечиваем надежность и безопасность сайта.</li>  
                </ul>
            </div>
        </section>
      <section id="section_contact">
        <h2>Заявка на создание сайта</h2>
          <form class="home_page-form">
            <input
                type="text"
                name="uname"
                size="40"
                placeholder="Имя"
            />
            <input
                type="tel"
                name="phone"
                size="40"
                placeholder="Номер телефона"
            />
            <input
                type="email"
                name="email"
                size="40"
                placeholder="Email"
            />
              <textarea
                name="message"
                cols="40"
                rows="10"
                placeholder="Коментарии"
              ></textarea>
              <button class="form_btn">Отправить даннык</button>

          </form>
      </form>
    </section>
