<section id="section_contact">
      <div class="contact_page">
        <h2>
          <a href="tel:+374-91-09-07-08" class="phoneNumber">(+374)-91 09 07 08 </a>
        </h2>
            <form class="home_page-form">
              <input
                  type="text"
                  name="uname"
                  size="40"
                  placeholder="Имя"
              />
              <input
                  type="tel"
                  name="phone"
                  size="40"
                  placeholder="Номер телефона"
              />
              <input
                  type="email"
                  name="email"
                  size="40"
                  placeholder="Email"
              />
                <textarea
                  name="message"
                  cols="40"
                  rows="10"
                  placeholder="Коментарии"
                ></textarea>
                <button class="form_btn">Отправить даннык</button>
  
            </form>
        </form>
      </div>
</section>

