<div class="title">
  <h1>Графический дизайн</h1>
  {{#each path}}
    <a href="{{path}}" target="_blank">{{name}} </a>
  {{/each}}
</div>
<div class="design">
  <div class="design_section">

    <div class="design_item">
      <div class="design_img">
        <img src="/imgs/3940059.png" alt="" />
      </div>
      <div class="design_text">
        <div class="design_text_title">ИЗГОТОВЛЕНИЕ ВЕБ-БАННЕРОВ</div>
        <span>- Статические веб-баннеры (png, jpg)</span>
        <span>- Анимационные веб-баннеры (gif, html5)</span>
      </div>
    </div>
    <div class="design_item">
      <div class="design_img">
        <img src="/imgs/3038007.png" alt="" />
      </div>
      <div class="design_text">
        <div class="design_text_title">ДИЗАЙН РЕКЛАМНЫХ МАТЕРИАЛОВ К ПЕЧАТИ</div>
        <span>- Визитные карточки, флаеры, буклеты</span>
        <span>- Рекламные щиты, наружные рекламные баннеры</span>
      </div>
    </div>
    <div class="design_item">
      <div class="design_img">
        <img src="/imgs/8961380.png" alt="" />
      </div>
      <div class="design_text">
        <div class="design_text_title">ИЗГОТОВЛЕНИЕ ФИРМЕННОГО ЛОГОТИПА</div>
        <span>Разработка фирменного логотипа Вашей компании</span>
      </div>
    </div>
    <div class="design_item">
      <div class="design_img">
        <img src="/imgs/883746.png" alt="" />
      </div>
      <div class="design_text">
        <div class="design_text_title">ФОТОСЪЕМКА</div>
        <span>- Фотосъемка - качественные и привлекающие фотографии продукции
          компании, интерьера, экстерьера</span>
        <span>- Виртуальный тур – 360° фотосъемка</span>
      </div>
    </div>

    <div class="design_photo">
      <img src="/imgs/design.png" alt="" />
    </div>
  </div>
</div>