    <section id="section-1">
        <div class="center">
            <h2>МЫ ВЕДЕМ ВАС К УСПЕХУ!</h2>
            <p>Сайт визитка, Landing страница, корпоративный сайт, корпоративный сайт с каталогом, интернет-магазин</p>
            <a href="#section_contact" class="bttn">Связаться с нами</a>
        </div>
    </section>

    <section id="section-2">
      <h2>Мы предлагаем</h2>
      <h4>&nbsp;</h4>
      <div class="items">
        <div class="item">
          <div class="item_img">
            <img
              alt="QUALIFIED LEADS"
              src="/imgs/Asset-6@2x.png"
            />
          </div>
          <div class="item_text">

              <h3>Разработка веб-сайтов</h3>
              <p>
                Разработка, создание и размещение в интернете "продающих" сайтов для Вашей компании
                </p>
            </div>
        </div>
        <div class="item">
          <div class="item_img">
            <img
              alt="ACCESS TO THE PLATFORM"
              src="/imgs/1292849.png"
            />
          </div>
          <div class="item_text">

              <h3>Ручное и автоматическое тестирование</h3>
              <p>
                  When accessing our online platform, buyers are allowed to manage
                  leads and structure settings to improve the respective lead quality
                </p>
            </div>
        </div>
        <div class="item">
          <div class="item_img">
            <img
              alt="CUSTOMIZABLE FILTERS"
              src="/imgs/196288.png"
            />
          </div>
          <div class="item_text">

          <h3>Графический дизайн</h3>
          <p>
            Разработка логотипа компании, создание веб-баннеров, профессиональная фотосъемка, виртуальные фототуры (360°)
          </p>
          </div>
        </div>
        <div class="item">
          <div class="item_img">
            <img
              alt="ADVANCED ANALYTICS"
              src="/imgs/9126258.png"
            />
          </div>
          <div class="item_text">

          <h3>Управление веб-проектами</h3>
          <p>
            Разработка стратегии веб-проекта, систематизация работ создания и продвижения продукта из одного центра
          </p>
          </div>
        </div>
      </div>
    </section>

    <section id="section_contact">
        <h2>Контакты</h2>
          <form class="home_page-form" action="/" method="POST">
            <input
                type="text"
                name="name"
                size="40"
                placeholder="Имя"
            />
            <input
                type="tel"
                name="phone"
                size="40"
                placeholder="Номер телефона"
            />
            <input
                type="email"
                name="email"
                size="40"
                placeholder="Email"
            />
              <textarea
                name="message"
                cols="40"
                rows="10"
                placeholder="Коментарии"
              ></textarea>
              <button class="form_btn">Отправить даннык</button>

          </form>
      </form>
    </section>


