<div class="title">
  <h1>Обслуживание веб-сайтов</h1>
  {{#each path}}
    <a href="{{path}}" target="_blank">{{name}} </a>
  {{/each}}
</div>

<section class="management">
  <div class="management_img">
    <img src="/imgs/WEB.png" alt="" />
  </div>
  <div class="management_text">
    <h2>В услугу обслуживания сайта входит:</h2>
    <p><i class="fa-solid fa-check"></i>техническое обслуживание сайта <a href="#sec2">&#8595;</a></p>
    <p><i class="fa-solid fa-check"></i>информационное обслуживание сайта <a href="#sec3">&#8595;</a></p>
  </div>
</section>

<section class="management_section2" id="sec2">
  <div class="management_section2_div">
    <h1>ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ САЙТА</h1>
    <div class="management_section2_items">
      <div class="management_section2_text">
        <ul>
          <li><i class="fa-solid fa-check"></i>Обеспечение бесперебойной работы
            сайта, безопасность/мониторинг в режиме 24/7</li>
          <li><i class="fa-solid fa-check"></i>В случае возникновения проблем,
            связанных с работоспособностью сайта, оперативное реагирование и
            решение проблем</li>
          <li><i class="fa-solid fa-check"></i>В случае наличия корпоративной
            электронной почты техническое управление работами</li>
          <li><i class="fa-solid fa-check"></i>По окончании обслуживания домена
            сайта напоминание клиенту выполнение технических работ по расширения
            домена</li>
          <li><i class="fa-solid fa-check"></i>Консультация по вопросам
            технического обслуживания сайта (по телефону, электронной почте)
          </li>
        </ul>
      </div>
      <div class="management_section2_img">
        <img src="/imgs/1006363.png" alt="" />
      </div>
    </div>
  </div>

</section>

<section class="maintenance_section3" id="sec3">
  <h1>ИНФОРМАЦИОННОЕ ОБСЛУЖИВАНИЕ САЙТА</h1>
  <ul>
    <li><i class="fa-solid fa-check"></i>Редактирование, перевод новой
      информации сайта, размещение информации о новостях и изменения в
      соответствующих разделах сайта</li>
    <li><i class="fa-solid fa-check"></i>Предложения по добавлению новых
      разделов и функций на сайте</li>
    <li><i class="fa-solid fa-check"></i>Консультация по информационному
      обслуживанию сайта (по телефону, электронной почте</li>
  </ul>
</section>