<div class="title">
  <h1>Management of web projects</h1>
  {{#each path}}
    <a href="{{path}}" target="_blank">{{name}} </a>
  {{/each}}
</div>

<section class="management">
  <div class="management_img">
    <img src="/imgs/PM.png" alt="" />
  </div>
  <div class="management_text">
    Неоценима роль грамотного и эффективного менеджмента в реализации
    веб-проектов, более того, именно от него во многом зависит успех. Из-за
    плотного графика представители организаций иногда не в состоянии уделить
    этому время, и в результате страдает проект.
  </div>
</section>

<section class="management_section2">
  <div class="management_section2_div">
    <h1>Мы предлагаем высококачественную услугу управления веб-проектами, при
      этом гарантируя</h1>
    <div class="management_section2_items">
      <div class="management_section2_text">
        <ul>
          <li><i class="fa-solid fa-check"></i>Поддержка в реализации идеи</li>
          <li><i class="fa-solid fa-check"></i>Управление веб-проектом в
            указанные сроки согласно, согласно плану и приоритам</li>
          <li><i class="fa-solid fa-check"></i>Управление веб-проектом в
            указанные сроки, согласно плану и приоритетам</li>
               <li><i class="fa-solid fa-check"></i>Подача и обсуждение предложений, направленных на повышение конкурентоспособности веб-продукта/товара/услуги.</li>
          <li><i class="fa-solid fa-check"></i>Представление периодических отчетов о выполненной и выполняемой работе</li>
        </ul>
      </div>
      <div class="management_section2_img">
        <img src="/imgs/1006363.png" alt="" />
      </div>
    </div>
  </div>

</section>