<div class="servises">
  <div class="servises_items">
    <a href="/content/create" class="servises_items_item">
      <div class="servises_items_item_img">
        <img src="/imgs/Asset-6@2x.png" alt="" />
      </div>
      <div class="servises_items_item_desc">
        <div class="servises_items_item_name">
          Создание сайтов
        </div>
        <span class="servises_items_item_span">
          User and SEO Frendly Websites development
        </span>
      </div>
      <span class="arrow">
        <i class="fa-solid fa-arrow-right-long"></i>
      </span>
    </a>
    <a href="/content/design" class="servises_items_item">
      <div class="servises_items_item_img">
        <img src="/imgs/196288.png" alt="" />
      </div>
      <div class="servises_items_item_desc">
        <div class="servises_items_item_name">
          Графический дизайн
        </div>
        <span class="servises_items_item_span">
          Business Cards, Flyers, Booklets, Logo, Banners, Photosets
        </span>
      </div>
      <span href="#" class="arrow">
        <i class="fa-solid fa-arrow-right-long"></i></span>
    </a>
    <div class="servises_items_item">
      <div class="servises_items_item_img">
        <img src="/imgs/9126258.png" alt="" />
      </div>
      <div class="servises_items_item_desc">
        <div class="servises_items_item_name">
          Управление веб-проектами
        </div>
        <span class="servises_items_item_span">
          Web Project Management
        </span>
      </div>
      <a href="#" class="arrow">
        <i class="fa-solid fa-arrow-right-long"></i></a>
    </div>
    <div class="servises_items_item">
      <div class="servises_items_item_img">
        <img src="/imgs/3067451.png" alt="" />
      </div>
      <div class="servises_items_item_desc">
        <div class="servises_items_item_name">
          Обслуживание веб-сайтов
        </div>
        <span class="servises_items_item_span">
          Website maintenance (technical, information)
        </span>
      </div>
      <a href="#" class="arrow">
        <i class="fa-solid fa-arrow-right-long"></i></a>
    </div>
    <div class="servises_items_item">
      <div class="servises_items_item_img">
        <img src="/imgs/2562004.png" alt="" />
      </div>
      <div class="servises_items_item_desc">
        <div class="servises_items_item_name">
          Тестирование
        </div>
        <span class="servises_items_item_span">
          Automation and Manual QA
        </span>
      </div>
      <a href="#" class="arrow">
        <i class="fa-solid fa-arrow-right-long"></i></a>
    </div>
  </div>
</div>